body{
    background-color: #7d95ff;
}
.yo{
    padding: 50;
    margin: 20;
    background-color: #e8aac9;
    border-radius: 15px;
}
.flex{
    display: flex;
    justify-content: center;
}
.yoside{
    padding: 50;
    margin: 20;
    background-color: #e8aac9;
    padding-right: 190;
    border-radius: 15px;
}
.yobasso{
    padding: 50;
    margin: 20;
    background-color: #e8aac9;
    padding-bottom: 190;
    border-radius: 15px;
}

.m_zero{
    margin-top: 0;
}
.invisible{
    background-color: #7d95ff;
}
